
:root {
  --black: #293148;
  --dark: #282828;
  --blue: #7895FF;
  --green: #7FC75E;


  --red: #D90E32;
  --red-dark: #A60933;
  --red-light: #E86E84;


  --white: #fff;
  --white-45: rgba(255, 255, 255, 0.45);
  --white-20: rgba(255, 255, 255, 0.2);

  --grey: rgba(41, 49, 71, 0.6);
  --grey-light: rgba(41, 49, 71, 0.45);
  --grey-dark: rgba(41, 49, 71, 0.8);
  --gray-line: #E4E4E4; 
  --gray-line-primary: #F3F6F8; 
  --grey-secondary: #EDEDED;
}